apiVersion: v1
kind: Service
metadata:
  name: {{ include ".fullname" . }}
spec:
  selector:
    app.kubernetes.io/name: {{ include ".name" . }}
    helm.sh/chart: {{ include ".chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- if .Values.service.headless }}
  clusterIP: None
  {{- else }}
  type: {{ .Values.service.type }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
