apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "pihole.name" . }}
  annotations:
    traefik.frontend.rule.type: AddPrefix
    traefik.http.middlewares.admin-prefix.addprefix.prefix: /admin
    traefik.ingress.kubernetes.io/router.middlewares: default-addprefix@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: "pihole.dg"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "pihole.name" . }}
                port:
                  number: 80
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: addprefix
spec:
  addPrefix:
    prefix: /admin
