image:
  repository: cloudflare/cloudflared
  tag: latest

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: NotIn
              values:
                - xpand
resources:
  limits:
    memory: 120Mi
  requests:
    cpu: 10m
    memory: 50Mi
