apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hattid.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "hattid.name" . }}
    helm.sh/chart: {{ include "hattid.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "hattid.name" . }}
      helm.sh/chart: {{ include "hattid.chart" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: {{ .Release.Service }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "hattid.name" . }}
        helm.sh/chart: {{ include "hattid.chart" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hattid-tunnel
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          args: ["tunnel", "--no-autoupdate", "run", "--token", "$(TOKEN)"]
{{- if .Values.resources }}
          resources:
{{ toYaml .Values.resources | indent 12}}
{{- end }}
          envFrom:
          - secretRef:
              name: {{ include "hattid.name" . }}-secret
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
