image:
  repository: cloudflare/cloudflared
  tag: latest
  pullPolicy: Always

resources:
  limits:
    memory: 120Mi
  requests:
    cpu: 10m
    memory: 50Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: topology.kubernetes.io/zone
              operator: In
              values:
                - germany
